{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}

{% block content %}
<div class="row">
    <div class="span4">
        <img class="img-responsive" src="/static/trailblazer/images/lung_egfr/EGFR-38.jpg">
    </div>
    <div class="span8">
        <h1>Cancer Research UK Trailblazer DEMO project</h1>
        <p>Cancer Research UK’s Trailblazer tool has enabled volunteers to distinguish between cancer cells and healthy cells in tissue samples with 95% accuracy and only 25 minutes of training. And, for the first time, citizen scientists were able to detect clinically significant features of cancer cells with 90% accuracy. SciFabric’s James Doherty meets Andy Paterson, Digital Solutions Architect at Cancer Research UK and the technical lead on the Trailblazer project.</p>
        <p><a href="http://scifabric.com/blog/2016/04/20/Cancer-Research-UK-Trailblazer.html">More info</a></p>
        <a class="btn btn-primary" href="/project/cancerresearchuk/newtask">Check the demo</a>
    </div>
</div>
{{ helper.broken_image() }}
{% endblock %}
