      <div class="container">
        <div class="row-fluid" style="text-align:center;">
          <div class="span4">
              <a href="http://scifabric.com/"><img width="100" src="{{url_for('static', filename='img/scifabric.svg')}}"></a>
          </div>
          <div class="span4">
              <a href="http://www.cancerresearchuk.org/"><img width="100" src="{{url_for('static', filename='img/Cancer_Research_UK_white.svg')}}"></a>
          </div>
          <div class="span4">
              <a href="http://pybossa.com/"><img width="100" src="{{url_for('static', filename='img/pybossa.svg')}}"></a>
          </div>
        </div>
      </div>
